.shop{
    background-color: black;
}
.shop_banner {
    width: 100%;
    z-index: -1;
    margin-bottom: -150px;
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
   
  }
  .shop_banner img {
    width:100%;
  mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1),
    80%,
    rgba(0, 0, 0, 0)
  );
}
  .shopt_banner_heading {
    z-index: 8;
    color: lightgrey;
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translate(-50%, -50%);
  }
