.categories {
  display: flex;
  margin-left: 10px;
  margin-right: 10px;
  flex-direction: column;
}

ul {
  display: flex;
  justify-content: space-evenly;
  padding-top: 20px;
  padding-bottom: 22px;
  flex-direction: row;
  align-content: center;
 
  
  width: 100%;
}
.heading ul li {
  cursor: pointer;
  list-style-type: none;
}

a {
  text-decoration: none;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: light;
  color: rgb(23, 23, 24);
  
}
a:hover{
  color:red;
}