.footer_dark_page{
    padding-top:3rem;
    padding-bottom:3rem;
    background-color: black;
    color:white;

    position: absolute;
    left: 0;
    bottom: 10;
    right:0;
    width: 100%;
}
.container{
    display:flex;

}
.line{
    height:1px;
    width:100%;
    color: black;

}
.footer_dark_container ul {
    display: flex;
    justify-content: space-evenly;
    width: 90%;
    align-content: center;
    text-align: center;
  
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-style: normal;
    font-weight: light;
    color: white;
    list-style-type: none;
  }