.header {
  display: flex;
  flex: 1;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  background: "transparent";
  z-index: 1000;
  position: fixed;
  top:0;
}
.header.active{
  background-color:rgb(151, 4, 65);
  opacity:95%;
}
.header__logo {
  display: flex;
  width: 100px;
  object-fit: contain;
  padding: 0 50px;
  font-family: BOEING-style;
  cursor: pointer;
  font-size: 28px;
  color: aliceblue;
}

.header__text {
  color: white;
}

.header__logo > img {
  height: 38px;
}
.header__navbar {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: medium;
  color: aliceblue;
  text-decoration: none;
  position: right;
  padding-right: 50px;
}

.header__navbar li {
  display: inline-block;
  padding: 0px 20px;
  cursor:pointer;
  vertical-align: top;
}
.header.active {
  background: "white";
}
.basket {
  font-size: 10px;
  display: flex;
  
}
.basketCount {
  position: relative;
  bottom:6px;
  right:7px;
}