.header__logo {
  display: flex;
  width: 100px;
  object-fit: contian;
  padding: 0 50px;
  font-family: BOEING-style;
  cursor: pointer;
  font-size: 28px;
  color: aliceblue;
}

.header__logo > img {
  height: 38px;
}
.header__navbar {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: medium;
  color: aliceblue;
  text-decoration: none;
  position: right;
  padding-right: 50px;
}
.header {
  display: flex;
  flex: 1;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  background: "transparent";
  z-index: 10;
  position: absolute;
}
.header__navbar li {
  display: inline-block;
  padding: 0px 20px;
  cursor:pointer;
  vertical-align: top;
}
.header.active {
  background: "white";
}
.shopping {
  font-size: 20px;
  display: flex;
  align-items: center;
}
.basketCount {
  margin-left: 10px;
  margin-right: 10px;
}