.homepage {
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;
  max-width: 1600px;
}

.banner img {
  background-position: center top;
  width: 100%;
  background-size: cover;
  position: relative;
  z-index: 1;
  margin-left: 0;
}
.banner {
  background-color: white;
}
.home_row {
  display: flex;
  z-index: 2;
  margin-top: 0;
}

.banner__words {
  z-index: 8;
  color: white;
  position: absolute;
  bottom: 240px;
  left: 100px;
}
.banner h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 50px;
  padding-bottom: 0px;
}
.banner button {
  background-color: transparent;
  display: inline-block;
  font-size: 20px;
  color: white;
  border: 1px solid #fff;
  padding: 10px 12px;
  border-radius: 25px;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
  transition: background-color ease 400ms;
}
.banner button:hover {
  color: rgb(241, 10, 60);
  background: white;
}
.banner button p {
  padding-left: 10px;
  padding-right: 10px;
}

.heading{
  display: flex;
}